/.idea/
/.mypy_cache/
/biosutilities/external/
/external/
/venv/
/out/*
!/out/sp154137_USB_Recovery/
!/out/sp154137_binwalk_extracted/
/HP_USB_Recovery/
/biosutilities/HP_USB_Recovery/
__pycache__/
*.pyc
